.block-shop-image {
  background-image: url('shop.png');
}

.block-partners-image {
  background-image: url('partners.jpg');
}

.fortnite {
  background-image: url('fortnite.png');
}

.teamwin {
  background-image: url('news.JPG');
}

.regal {
  background-image: url('regal.png');
}

.csgo {
  background-image: url('csgo-art.jpg');
}

.fortnite {
  background-image: url('fortnite-art.jpg');
}
