.block-shop-image {
  background-image: url('shop.png');
}

.block-partners-image {
  background-image: url('partners.jpg');
}

.fortnite {
  background-image: url('fortnite.png');
}

.team-img {
  background-image: url('team.jpg');
}

.teamwin {
  background-image: url('news.JPG');
}
