.block-shop-image {
  background-image: url('shop.jpg');
}

.block-partners-image {
  background-image: url('partners.jpg');
}

.fortnite {
  background-image: url('fortnite.png');
}

.fortnite-2 {
  background-image: url('fortnite-art.jpg');
}

.teamwin {
  background-image: url('news.JPG');
}

.regal {
  background-image: url('news.JPG');
}

.csgo {
  background-image: url('csgo-art.jpg');
}

.pf {
  background-image: url('placeholder-pf.jpg');
}

.cod {
  background-image: url('cod-art.jpg');
}
