.block-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  padding: 20px;
  border-radius: 7px;
  height: 230;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.block:hover {
  filter: brightness(1.2);
  transform: translateY(-5px);
}

.block:active {
  filter: brightness(0.8);
  transform: translateY(0px);
}

.block-align-left {
  align-items: flex-start;
}

.block-align-right {
  align-items: flex-end;
}

.block-title {
  text-align: right;
  font-size: 28px;
  font-style: italic;
  margin-bottom: 10px;
}
