header {
  height: 73px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  position: fixed;
  right: 20px;
  left: 20px;
  top: 20px;
  z-index: 100;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

.left-header-container {
  cursor: pointer;
  height: 100%;

}

.left-header-container img {
  height: 100%;
  transition: all 0.2s ease;
}

.left-header-container img:hover {
  filter: brightness(1.5);
}

.left-header-container img:active {
  filter: brightness(0.8);
}
.right-header-container {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
